/* -----------------------------------------
   Vars and Mixins
----------------------------------------- */

$white: #FFF;
$silver: rgb(225,235,232);
$grey: rgb(144,153,163);
$grey-dark: rgb(144,153,163);

$yellow: rgb(255,203,0);
$gold: rgb(255,168,0);
$orange: rgb(255,128,0);

$red: rgb(244,42,0);
$red-dark: rgb(244,42,0);

$blue: rgb(23,92,125);
$night: rgb(18,36,46);
$night-medium: rgb(27,47,59);
$black: #0d1319;


$green: #00B090;
$green-dark: rgba(28, 115, 108, 1);
$overlay-color: rgba(28, 115, 108, 0.2);
$placeholder-color: lighten($night, 50%);

$purple: #622B63;
$purple-dark: #3C283C;
$purple-light: #C7B3C8;
$grey: #F2EDF2;
$silver: #F2EDF2;


$font-main: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

@mixin border-radius($radius:3px){
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin gradient-v($color-top, $color-bottom){
  background: $color-top; /* Old browsers */
  //background: -moz-linear-gradient(top,  $color-top 0%, $color-bottom 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color-top), color-stop(100%,$color-bottom)); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top,  $color-top 0%,$color-bottom 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top,  $color-top 0%,$color-bottom 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top,  $color-top 0%,$color-bottom 100%); /* IE10+ */
  //background: linear-gradient(to bottom,  $color-top 0%,$color-bottom 100%); /* W3C */
}
@mixin transition-opacity($duration:0.4s){
  -webkit-transition: opacity $duration ease;
  -moz-transition: opacity $duration ease;
  -o-transition: opacity $duration ease;
  -ms-transition: opacity $duration ease;
  transition: opacity $duration ease;
}
@mixin transition-bgc($duration:0.4s){
  -webkit-transition: background-color $duration ease;
  -moz-transition: background-color $duration ease;
  -o-transition: background-color $duration ease;
  -ms-transition: background-color $duration ease;
  transition: background-color $duration ease;
}
@mixin transition-color($duration:0.4s){
  -webkit-transition: color $duration ease;
  -moz-transition: color $duration ease;
  -o-transition: color $duration ease;
  -ms-transition: color $duration ease;
  transition: color $duration ease;
}
@mixin transition-rotation($duration:0.4s){
  -webkit-transition: -webkit-transform $duration ease-in;
}
@mixin rotate($angle:7deg){
  transform:rotate($angle);
  -ms-transform:rotate($angle);
  -moz-transform:rotate($angle);
  -webkit-transform:rotate($angle);
  -o-transform:rotate($angle);
}
@mixin box-shadow($right:0, $bottom:2, $blur:5, $spread:0, $color: $black){
  -webkit-box-shadow:  $right $bottom $blur $spread $color;
  box-shadow:  $right $bottom $blur $spread $color;
}
@mixin text-shadow-top($color:$white, $distance:-2px){
  text-shadow: 0px $distance 0px $color;
  filter: dropshadow(color=$color, offx=0, offy=$distance);
}
@mixin text-shadow-bottom($color:$black, $size: 1px){
  text-shadow: 0px $size 0px $color;
  filter: dropshadow(color=$color, offx=0, offy=1);
}
@mixin links{
  color: $blue;
  background-color: lighten($blue, 62%);
  padding: 0 0.3em;
  @include transition-color;
  @include transition-bgc;
  &:hover{
    color: $blue;
    background-color: lighten($blue, 47%);
  }
}
@mixin ul{
   ul{
    padding: 0.7em 2em;
    font-size: emCalc(15px);
    line-height: 1.4em;
    list-style-image: url(../img/bullet.png);
    background-color: lighten($green, 62%);
    color: darken($green-dark, 10%);
    li{
      padding: 0.5em 0.3em;
    }
    ul{
      padding: 0.2em 2em;
      font-size: emCalc(14px);
      line-height: 1.4em;
      list-style-image: url(../img/bullet-2.png);
      li{
        padding: 0.25em 0.2em;
      }
    }
  }/* / .ul */
}

@mixin bicolor-bg($color-left, $color-right: lighten($color-left, 3%), $angle: 45deg){
  background-image: -webkit-linear-gradient($angle, $color-left, $color-left 50%, $color-right 50%, $color-right 100%);
  background-image: -moz-linear-gradient($angle, $color-left, $color-left 50%, $color-right 50%, $color-right 100%);
}


@mixin inset-shadow ($left:5px, $top:5px, $blur:5px, $color:rgba(0,0,0,0.1)){
  -moz-box-shadow:inset $left $top $blur 0 $color;
  -webkit-box-shadow:inset $left $top $blur 0 $color;
  box-shadow:inset $left $top $blur 0 $color;
}

@function emCalc($target, $context:16) {
    @return $target / $context * 1em;
}
@mixin img-desaturate ($amount:100%, $amount2: 1){
  -webkit-filter: grayscale($amount2); -webkit-filter: grayscale($amount); -moz-filter: grayscale($amount);
  filter: gray; filter: grayscale($amount);
  filter: url(desaturate.svg#greyscale);
}
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

$vertical-padding: 80px;
$transition-speed: 0.6s;

/**
 * HTML and General styles
 */
body {
    display: inline-block;
    h1, h2, h3, h4, h5, h6{
      color: $night;
      font-family: $font-main;
    }
    h2{
      font-weight: 200;
      color: $purple;
      font-size: 2.5em;
    }
    p{
      font-size: 1.2em;
      color: desaturate(lighten($purple-dark, 20%), 20%);
      font-weight: 200;
    }
    .button{
        background: $purple;
      border-bottom: 4px solid $purple-dark;
      font-weight: 200 !important;
      letter-spacing: 0.03em !important;
      @include text-shadow-bottom($night, 2px);
    }
    a{
      transition: $transition-speed;
      font-weight: 500;
      color: lighten($purple, 15%);
      &:hover{
        color: lighten($purple, 5%);
      }
    }
}/* end body */

/**
 * HEADER
 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: $purple-dark;
    text-align: center;
    padding: 1em 0 0 0;
    border-bottom: 1px solid lighten($purple-dark, 10%);
    .logo{
      opacity: 0.9;
      transition: opacity $transition-speed;
      &:hover{
        opacity: 1;
      }
      img{
        margin-top: -5px !important;
      }
    }
    .sub-nav-custom{
      text-align: right;
      padding-top: 0.3em;
      dd{
        $a-color: desaturate(lighten($purple, 30%), 20%);
        $hover-color: $white;
        display: inline-block;
        margin-left: 0.3em;
        a{
          display: inline-block;
          font-weight: 200;
          border: 1px solid $a-color;
          padding: 0.2em 1em;
          color: $a-color;
          @include border-radius(3px);
          transition: border-color $transition-speed, color $transition-speed;
          &.new{
            border: 1px solid lighten($a-color, 20%);
            color: lighten($a-color, 20%);
            position: relative;
            &:after{
              content: "new";
              font-weight: 500;
              display: inline-block;
              background: $orange;
              color: $purple-dark;
              font-size: 0.7em;
              padding: 0.4em 0.3em;
              position: absolute;
              top: -10px;
              left: -12px;
              @include border-radius(30px);
              @include rotate(-25deg);
              opacity: 0.9;
            }
          }/* en new */
          &.active, &:hover{
            border: 1px solid $hover-color;
            color: $hover-color;
          }
        }
      }
    }/* end sub-nav-custom */
}/* end header */

/**
 * HERO
 */
.hero {
    .hero-left{
        background: transparentize($purple-dark, 0.3);
        padding: 20px;
    }
    background: $blue url('../img/circulo-podemos-la-muela-bg.jpg') right 25% no-repeat;
    background-size: cover;
    min-height: 700px;
    padding-top: $vertical-padding;
    h1, h2, h3, small{
      color: $white;
      strong{
        font-weight: 400;
      }
    }
    .hero-left{
      max-width: 60%;
      text-align: right;
      margin-top: 50px;
    }
    .logo{
      $width: 100%;
      $height: 290px;
      display: inline-block;
      background: /*transparentize($night, 0.8)*/ url('../img/logo-sosz-big.png') top right no-repeat;
      background-size: contain;
      width: $width;
      height: $height;
      text-indent: -20000px;
      overflow: hidden;
      font-size: 0.1em;
      color: $night;
    }
    h3{
      margin-top: 1.5em;
      font-size: 1.8em;
      @include text-shadow-bottom($night, 2px);
    }
    .twitter{
      text-indent: 2em;
      font-size: 0.6em;
      margin: 0.4em 0 0 0;
      background: lighten(saturate($purple, 10%), 4%) url('../img/icon-twitter.png') 1.2em center no-repeat;
      transition: background-color 0.5s;
      &:hover{
        background-color: lighten(saturate($blue, 7%), 2%);
      }
    }
}/* end hero */

/**
 * DESCRIPTION
 */
.description {
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  .footer{
    border-top: 2px solid $night-medium;
    border-bottom: 2px solid $night-medium;
    margin-top: 40px;
    padding: 1em;
    text-align: center !important;
  }
}/* end description */

/**
 * T-SHIRT
 */
.tshirt {
  padding-top: $vertical-padding / 2;
  padding-bottom: $vertical-padding / 2;
  background: $blue url('../img/las-cortes-de-aragon.jpg') center top no-repeat;
  background-size: cover;
  min-height: 850px;
  text-align: center;
  h2{
    color: $white;
    background: transparentize($purple, 0.3);
    padding: 20px;
    margin-bottom: $vertical-padding / 2.5;
  }
  img{
    width: 447px !important;
  }
  .button{
    background: transparentize($night-medium, 0.8);
    border: 3px solid white;
    //text-transform: uppercase;
    margin-top: -60px;
    margin-right: 20px;
    transition: background $transition-speed;
    &:hover{
      background: $blue;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}/* end tshirt */

/**
 * WHERE
 */
.where-map, .where-photo {
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
}/* end where-map */

.where-map {
  a.label{
    background: $purple;
    color: $white;
    transition: background $transition-speed;
    &:hover{
      background: $purple-dark;
      color: $white;
    }
  }
  h5{
    background: transparentize($white, 0.3);
    border: 10px solid transparentize($white, 0.6);
    @include border-radius;
  }
}/* end where-map */

.where-photo {
  background: $purple-dark url('../img/la-muela.jpg') center bottom no-repeat;
  background-size: cover;
  min-height: 600px;
}/* end where-photo */

/**
 * GUESTS
 */
.guests {
  background: desaturate(lighten($purple, 63%), 35%);
  padding-top: 120px;
  padding-bottom: 80px;
  li{
    .box{
      display: block;
      background: darken($white, 1%);
      border-top: 1px solid $white;
      border-left: 1px solid $white;
      border-right: 1px solid desaturate(lighten($purple-dark, 50%), 45%);
      border-bottom: 1px solid desaturate(lighten($purple-dark, 50%), 45%);
      margin: 0;
      padding: 1em;
      @include border-radius;
      transition: outline 0.7s;
      outline: 3px solid transparent;
      &.link img{
        //@include img-desaturate(90%, 0.9);
      }
      &.link:hover img{
        //@include img-desaturate(0%, 0);
      }
      &.link:hover{
        color: $white;
        outline: 3px solid desaturate(lighten($purple-dark, 40%), 10%);
        color: saturate(lighten($purple-dark, 15%), 15%);
      }
      .avatar, .data{
        display: inline-block !important;
        width: 18%;
        margin-right: 5%;
        vertical-align: top;
      }
      .avatar{
        border: 1px solid desaturate(lighten($purple-dark, 40%), 10%);
      }
      .data{
        width: 70%;
      }
      p{
        font-size: 1.1em;
        font-weight: 400;
        margin: -5px 0 0 0;
        color: $purple-dark;
      }
      .label{
        margin: 0;
        font-size: 0.8em;
        background: desaturate(lighten($purple, 30%), 20%);
        font-weight: 500;
        color: $white;
      }
    }/* end box */

  }
}/* end guests */

/**
 * PARTNERS
 */
.partners {
  padding-top: 120px;
  padding-bottom: 80px;
  //text-align: center;
  h2{
    border-bottom: 1px solid $purple;
    margin-bottom: $vertical-padding;
  }
  .logos{
    text-align: center;
    margin-bottom: 40px;
    a{
      margin-right: 5%;
      transition: opacity 0.5s;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        opacity: 0.7;
      }
    }
  }
}/* end partners */

/**
 * ORGANIZE
 */
.organize {
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;
  background: $night url('../img/cachirulo-valley-bg.jpg') center -40px no-repeat;
  background-size: cover;
  min-height: 560px;
  h2{
    color: $white;
    margin-top: 60%;
  }
}/* end organize */

/**
 * PAGE FOOTER
 */
.page-footer {
  background: $purple-dark;
  p, small{
    color: $white;
    opacity: 0.7;
    text-align: center;
  }
  p{
    padding-top: 20px;
    padding-bottom: $vertical-padding;
  }
}/* end page-footer */

/**
 * LAST MINUTE
 */
.last-minute {
  text-align: center;
  iframe{
    display: inline-block;
    border: 1px solid lighten($grey, 30%) !important;
    width: 70%;
    @include border-radius;
    margin-bottom: 80px;
  }
}/* end last-minute */


